Data-Factory-BI/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "Data-Factory-BI"
		},
		"DWIM_IMSA_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"DWIM_IMSA\""
		},
		"IMSA_HANA_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"IMSA_HANA\""
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Excel_Area_Empleados_DataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imsadatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					},
					"Sheet": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Sheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderPath",
							"type": "Expression"
						},
						"fileSystem": "imsa-files"
					},
					"range": "A5:N1000",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_CentroCostos_DataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imsadatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Audatia (Nomina por Peso y PY-C",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Centro_Costos.xlsx",
						"folderPath": "Modelo RRHH",
						"fileSystem": "imsa-files"
					},
					"range": "A5:F1000",
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Libro: Audatia (Nomina por Peso y PY-CC)",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_Control_Hitos_DataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imsadatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Sheet": {
						"type": "string"
					},
					"Range": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Sheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ControlHitos.xlsx",
						"folderPath": "Automatizaciones/Control de Hitos",
						"fileSystem": "imsa-files"
					},
					"range": {
						"value": "@dataset().Range",
						"type": "Expression"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_Datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imsadatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Folder": {
						"type": "string"
					},
					"File": {
						"type": "string"
					},
					"Sheet": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Sheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": "imsa-files"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_Finiquitos_DataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imsadatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Finiquitos",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Finiquitos.xlsx",
						"folderPath": "Modelo RRHH",
						"fileSystem": "imsa-files"
					},
					"range": "A4:AM1000",
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Libro: Finiquitos",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel_Flujo_Caja_Inmobiliario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "imsadatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BD Histórica Flujos Caja.xlsx",
						"folderPath": "Modelo Flujo de Caja/Flujo Caja Proyectos Inmobiliarios",
						"fileSystem": "imsa-files"
					},
					"sheetIndex": 0,
					"range": "A2:P1000000",
					"firstRowAsHeader": false
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ThDetalleMovimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW2/Finanzas"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TransId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LineMemo",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "th",
					"table": "DetalleMovimiento"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ThLibroMayor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW2/Finanzas"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Account",
						"type": "varchar"
					},
					{
						"name": "FormatCode",
						"type": "varchar"
					},
					{
						"name": "AcctName",
						"type": "varchar"
					},
					{
						"name": "TransId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RefDate",
						"type": "date"
					},
					{
						"name": "Debit",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Credit",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SYSDebit",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SYSCredit",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LineMemo",
						"type": "varchar"
					},
					{
						"name": "TransType",
						"type": "varchar"
					},
					{
						"name": "Libro",
						"type": "varchar"
					},
					{
						"name": "CodSucursal",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Sucursal",
						"type": "varchar"
					},
					{
						"name": "Fecha_Snapshot",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "th",
					"table": "LibroMayor"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sapDeudoresInmobiliarios')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW2/DeudoresInmobiliarios"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idFecha",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idProyectoEtapa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idEscenario",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CodigoHito",
						"type": "varchar"
					},
					{
						"name": "OrdenHito",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Proyecto",
						"type": "varchar"
					},
					{
						"name": "Etapa",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "sap",
					"table": "DeudoresInmobiliarios"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWIM_IMSA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('DWIM_IMSA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "DWIM",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IMSA_HANA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapHana",
				"typeProperties": {
					"connectionString": "[parameters('IMSA_HANA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationHana",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWIM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM_IMSA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWIM_IMSA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HESTanner')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM_IMSA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "companyRut",
						"type": "nvarchar"
					},
					{
						"name": "supplierRut",
						"type": "nvarchar"
					},
					{
						"name": "orderNumber",
						"type": "nvarchar"
					},
					{
						"name": "receptionNumber",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dteType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "payDays",
						"type": "int",
						"precision": 10
					},
					{
						"name": "externalId",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HESTanner"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWIM_IMSA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_HANA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IMSA_HANA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "SapHanaTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IMSA_HANA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAP_HANA_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IMSA_HANA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table_Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Otros"
				},
				"annotations": [],
				"type": "SapHanaTable",
				"schema": [],
				"typeProperties": {
					"schema": "SBO_MANQUEHUE",
					"table": {
						"value": "@dataset().Table_Name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IMSA_HANA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ThHitosBudget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM_IMSA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Planificacion"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "idFecha",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idProyectoEtapa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idEscenario",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CodigoHito",
						"type": "varchar"
					},
					{
						"name": "OrdenHito",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Proyecto",
						"type": "varchar"
					},
					{
						"name": "Etapa",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "th",
					"table": "HitosBudget"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWIM_IMSA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ThHitosForescast')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM_IMSA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Planificacion"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "idFecha",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idProyectoEtapa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idEscenario",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CodigoHito",
						"type": "varchar"
					},
					{
						"name": "OrdenHito",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Proyecto",
						"type": "varchar"
					},
					{
						"name": "Etapa",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "th",
					"table": "HitosForecast"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWIM_IMSA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ThHitosReal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWIM_IMSA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW/Planificacion"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "idFecha",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idProyectoEtapa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idEscenario",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CodigoHito",
						"type": "varchar"
					},
					{
						"name": "OrdenHito",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Proyecto",
						"type": "varchar"
					},
					{
						"name": "Etapa",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "th",
					"table": "HitosReal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWIM_IMSA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/001 Area Empleados')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Area Empleados",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "imsa-files/@{'Modelo RRHH'}/@{'Areas_Empleados.xlsx'}"
							},
							{
								"name": "Destination",
								"value": "@{'rrhh'}.@{'diccionario_areas_empleados'}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE rrhh.diccionario_areas_empleados",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Empresa - Nombre Empresa",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "empresa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Empleado - Nombre Completo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "empleado",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Empleado - RUT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rut",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - Cargo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cargo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Empleado - Rol Privado",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rol_privado",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - Nombre Gerencia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gerencia",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - ID Área Nivel 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_area_1",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Trabajo - Nombre Área Nivel 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "area_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - ID Área Nivel 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_area_2",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Trabajo - Nombre Área Nivel 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "area_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - Familia de Cargo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "familia_cargo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Campos Personalizados de Trabajo - Rol del Colaborador",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rol_colaborador",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - Nombre Área Asignada(o)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nombre_area_asignado",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trabajo - Obra",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "obra",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_Area_Empleados_DataLake",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": "Modelo RRHH",
									"FileName": "Areas_Empleados.xlsx",
									"Sheet": "Reporte Areas Audatia"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DWIM",
								"type": "DatasetReference",
								"parameters": {
									"schema": "rrhh",
									"table": "diccionario_areas_empleados"
								}
							}
						]
					},
					{
						"name": "Ok Carga 001 Area Empleados",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy Area Empleados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-138.westus.logic.azure.com:443/workflows/d81b126acfee4a51b11143230b300da9/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qRrQqJGIgRxU7SjT7CDQsA39DYR9NXhpZEVmXGAvIUo",
							"method": "POST",
							"headers": {},
							"body": {
								"Recurso": "AzureBI",
								"Pipeline": "RRHH",
								"Tarea": "001_Area_Empleados",
								"Estado": "OK"
							}
						}
					},
					{
						"name": "Error Carga 001 Area Empleados",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy Area Empleados",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-138.westus.logic.azure.com:443/workflows/d81b126acfee4a51b11143230b300da9/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qRrQqJGIgRxU7SjT7CDQsA39DYR9NXhpZEVmXGAvIUo",
							"method": "POST",
							"headers": {},
							"body": {
								"Recurso": "AzureBI",
								"Pipeline": "RRHH",
								"Tarea": "001_Area_Empleados",
								"Estado": "Error"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "RRHH"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-13T18:14:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Excel_Area_Empleados_DataLake')]",
				"[concat(variables('factoryId'), '/datasets/DWIM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/001 Centro Costos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Centro Costos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "imsa-files/Modelo RRHH/Centro_Costos.xlsx"
							},
							{
								"name": "Destination",
								"value": "@{'rrhh'}.@{'peso_centro_de_costos'}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Centro_de_Costo",
										"Prorrateo",
										"Liquidación_Período",
										"Empleado_RUT",
										"Empleado_Código_de_Ficha",
										"Empleado_Nombre_Completo"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Centro de Costo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Centro_de_Costo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Prorrateo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prorrateo",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Liquidación - Período",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Liquidación_Período",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Empleado - RUT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Empleado_RUT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Empleado - Código de Ficha",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Empleado_Código_de_Ficha",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Empleado - Nombre Completo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Empleado_Nombre_Completo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_CentroCostos_DataLake",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWIM",
								"type": "DatasetReference",
								"parameters": {
									"schema": "rrhh",
									"table": "peso_centro_de_costos"
								}
							}
						]
					},
					{
						"name": "Ok Carga 001 Centro Costos",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy Centro Costos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-138.westus.logic.azure.com:443/workflows/d81b126acfee4a51b11143230b300da9/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qRrQqJGIgRxU7SjT7CDQsA39DYR9NXhpZEVmXGAvIUo",
							"method": "POST",
							"headers": {},
							"body": {
								"Recurso": "AzureBI",
								"Pipeline": "RRHH",
								"Tarea": "001_Centro_Costos",
								"Estado": "OK"
							}
						}
					},
					{
						"name": "Error Carga 001 Centro Costos",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy Centro Costos",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-138.westus.logic.azure.com:443/workflows/d81b126acfee4a51b11143230b300da9/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qRrQqJGIgRxU7SjT7CDQsA39DYR9NXhpZEVmXGAvIUo",
							"method": "POST",
							"headers": {},
							"body": {
								"Recurso": "AzureBI",
								"Pipeline": "RRHH",
								"Tarea": "001_Centro_Costos",
								"Estado": "Error"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "RRHH"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-13T18:14:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Excel_CentroCostos_DataLake')]",
				"[concat(variables('factoryId'), '/datasets/DWIM')]"
			]
		}
	]
}